<div class="view-header">
	<h1> Contact </h1>
	<a class="btn_list btn_title" title="Go to contacts list"><i class="fas fa-list-ul"></i></a>
</div>
<form id="form_contact" name="form_contact">
	<div class="form-group">
		<input placeholder="First name" name="first_name" type="text" maxlength="36">
	</div>
	<div class="form-group">
		<input placeholder="Last name" name="last_name" type="text" maxlength="36">
	</div>
	<div class="form-group">
		<input placeholder="Email" name="email" type="text" maxlength="36">
	</div>
	<div class="styled-selected">
		<select value="" disabled selected> Select the country </select>
	</div>

<div class="button_bar">
	<button name="btn_add" title="Save new contact"> Add <i class="fas fa-plus"></i></button>
	<button name="btn_edit" title="Update contact"> Edit <i class="far fa-edit"></i></button>
	<button name="btn_delete" title="Delete contact"> Delete <i class="fas fa-trash"></i></button>
</div>

<form>
	</form>