<div class="view-header">
	<h2> Lists of contacts</h2>
	<p><input type='search' class='form-control' placeholder='Search' ng-model='query' /></p>
</div>

<table class='table table-hover table-bordered'>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Country</th>
            <th><a ng-click="goForm(add)" class="btn_plus btn_title" title="Create new contact"><button type="button" class="btn btn-outline-success">Create Contact</button></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-click='show(contact.id)' ng-repeat='contact in contacts | filter: query | orderBy: sort.field : sort.order'>
            <td> {{contact.first_name}} </td>
            <td> {{contact.last_name}} </td>
            <td> {{contact.email}} </td>
            <td> {{contact.country}} </td>
	        <td><button ng-click="goForm(contact.id)" type="button" class="btn btn-outline-warning">Edit</button>
        </tr>
    </tbody>
</table>