<div class="view-header">
	<h1> Lists </h1>
	<a ng-click="goForm(add)" class="btn_plus btn_title" title="Create new contact"><i class="fas fa-plus-square fa-2x"></i></a>
</div>
<div class="list_wrapper">
	<ul>
		<li ng-repeat="contact in contacts">
			<div class="contact_data">
				{{contact.first_name}} {{contact.last_name}} - {{contact.country}} 
			</div>
			<div class="contact_mail">
				<a ng-click="goForm(contact.id)" title="Edit contact"><i class="fas fa-pencil-alt btn_edit"></i></a>
				<a href="mailto:{{contact.email}}" title="send email to contact"><i class="fas fa-trash"></i></a>
			</div>
		</li>
	</ul>
</div>
<div class="button_bar">

</div>